<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<string>bdz83pnzenvqjr7l</string>
	<key>appkey</key>
	<string>xeeHPvzXCmiIHJfMmGJmqPgQdUJACeIj</string>
	<key>urlDomain</key>
	<string>https://userin-sdk.abhlcy.com</string>
	<key>AWChannelID</key>
	<string>sdk0011101</string>
</dict>
</plist>
